/* Main Stylesheet for EC Website 2018 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

* {
	border: 1px solid red;
	font-family: 'Open Sans', sans-serif;
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	max-height: 100%
}

#home {
	background-image: url('../images/back.jpg');
	background-size: cover;
	width: 100%;
	height: 100%;
}

nav {
	position: fixed;
}

#layer2 {
	position: relative;
	height: 100%;
	width: 100%;
}

#eclogo {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
}
.fa.fa-camera-retro  {
	border-radius: 100px 100px 100px 100px;
	border-width: 5px;
	border-style: solid;
	padding: 20px;
	left:1000px;
	top:500px;
	position: absolute;
	color: red;

}
.fa.fa-code {
	border-radius: 100px 100px 100px 100px;
	border-width: 5px;
	border-style: solid;
	padding: 20px;
	left:100px;
	top:200px;
	position: absolute;
	color: red;

}
.fa.fa-film{
	border-radius: 100px 100px 100px 100px;
	border-width: 5px;
	border-style: solid;
	padding: 20px;
	left:1000px;
	top:250px;
	position: absolute;
	color: red;

}

.timer {
	border-radius: 100px 100px 100px 100px;
	border-width: 10px;
	border-style: solid;
	padding: 80px;
	left:100px;
	top:400px;
	position: absolute;
	color: red;
	font-size: 10px;
}
